body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-box {
  display: flex;
}

.navigashion {
  display: flex;
  align-items: center;
  margin-right: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #404bbf;
  margin-right: 76px;
}

.menu-title {
  display: flex;
  gap: 40px;
}

.logo-web {
  color: #2e2f42;
}

.one {
  position: relative;
  color: #404bbf; 
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.one::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0; 
  bottom: -1px;
  height: 4px; 
  background-color: #404bbf;
  border-radius: 2px;
} 

.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu:hover {
  color: #404bbf;
}

.menu:focus {
  color: #404bbf;
}

.info-title {
  font-style: normal;
}

.item-address {
  display: flex;
  gap: 40px;
}

.info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: #404bbf;
}

a:focus {
  color: #404bbf;
}

.section-title {
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-name.jpg); 
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  margin-right: auto;
    margin-left: auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-feature {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-feature-item {
  display: flex;
  gap: 24px;
}

.section-feature-items {
  width: calc((100% - 72px) / 4);
}

.icons {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd; 
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px; 
}


.section-feature-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-feature-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.section-title-block {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-list-item {
  display: flex;
  gap: 24px;
}

.section-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.work {
  padding: 32px 0;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.link {
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus{
  background-color: #404bbf;
}

.link-item {
  fill:#f4f4fd;
}

.section-image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-image-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section-portfolio-list {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-portfolio-list:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-images:hover .portfolio-text{
  transform: translateY(0%);
}

.portfolio-images {
position: relative;
  overflow: hidden;
}
.portfolio-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.Dodatok {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.conteiner-footer {
  display: flex;
  align-items: baseline;
}

.footer-box {
  margin-right: 120px;
}

.footer-color {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.social-footer {
  display: flex;
  gap: 16px;
}

.link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover, .link-footer:focus {
  background-color: #31d0aa;;
}


.form {

}

.form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;

}

.form-conteiner {
  display: flex;
  gap: 24px;

}

.form-label {

}

.form-input {
width: 264px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.form-input::placeholder {
  color #ffffff;
}

.btn-form {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-form-text {
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
cursor: pointer;
background-color: #4D5AE5;
border: none;
border-radius: 4px;
}

.svg-form {
  margin-left: 16px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-web-footer {
  color: #f4f4fd;
}

.one {
  color: #404bbf; 
}
